.card__hoveredOpen {
  position: absolute;
  width: 40vh;
  height: 50vh;
  background: #000;
  border-radius: 5px;
  & .image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
  }
  & .image img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }

  &:hover .image img {
    opacity: 0.5;
    transform: translateX(30%); /*100%*/
  }

  & .details {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%; /*100%*/
    height: 100%;
    background: #2f47ca;
    transition: 0.5s;
    transform-origin: left;
    transform: perspective(2000px) rotateY(-90deg);
    border-radius: 5px;

    & .center {
      padding: 20px;
      text-align: center;
      background: #fff;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      & h1 {
        margin: 0;
        padding: 0;
        color: #ff3636;
        line-height: 20px;
        font-size: 20px;
        text-transform: uppercase;

        & span {
          font-size: 14px;
          color: #262626;
        }
      }

      & p {
        margin: 10px 0;
        padding: 0;
        color: #262626;
      }

      & ul {
        margin: 10px auto 0;
        padding: 0;
        display: table;

        & li {
          list-style: none;
          margin: 0 5px;
          float: left;

          & a {
            display: block;
            background: #262626;
            color: #fff;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            transform: 0.5s;

            &:hover {
              background: #ff3636;
            }
          }
        }
      }
    }
  }

  &:hover .details {
    transform: perspective(2000px) rotateY(0deg);
  }
}

